* {
    margin:0;
    padding:0;
}

body {
    position: absolute;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

header {
    height: 7rem;
}

header img {
    padding-top: 1rem;
}

.contenedor {
    padding: 0 12rem;
}

.contenido {
    min-height: 30rem;
}

.contenido main {
    position: relative;
    width: 80%;
    float:left;
}

.contenido aside {
    position: relative;
    width: 20%;
    float:right;
}

.contenido article{
    min-height: 20rem;
}

.contenido img {
    float: left;
    height: 10rem;
}

.navegacion, footer {
    background-color: #db008d;
}

.navegacion {
    text-align: center;
}

.navegacion li {
    padding: 1rem 2rem;
    display: inline-block;
    list-style: none;
}

.menu li {
    padding: 1rem 1rem;
    display: inline-block;
    list-style: none;
}

.navegacion nav > ul :hover, .menu nav > ul :hover {
    background-color: #00b9e5;
    cursor: pointer;
}

.navegacion li a, .menu li a {
    color: white;
    text-decoration: none;
}

.sidebar li {
    list-style: none;
    padding: 0.3rem 0;
}

.derechos {
    text-align: center;
}

.sidebar a {
    color: #00b9e5;
    text-decoration: none;
}

.navegacion ul ul li {
    visibility: hidden;
    display: none;
}

footer {
    position: relative;
    height: 15rem;
    bottom: 0!important;
}

.nosotros, .menu {
    width: 50%;
}

.nosotros {
    left: 0;
}

.menu {
    right:0;
    position: relative;
}

.is-hidden{
    display: none;
}

#loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    text-align: center;
    margin-top: 15rem;
}

#tablaCarga, #tablaArticulos {
    margin: 1rem 0 3rem 0;
}

#tablaCarga label, h2 {
    display: block;
    color: #00b9e5;
    font-size: 20px;
    font-weight: bold;
}

#tablaCarga input, #tablaCarga textarea {
    margin: 1rem 0 1rem 0;
}

#tablaCarga input {
    width: 35rem;
    height: 2rem;
}

#tablaArticulos thead{
    background-color: #db008d;
}

#tablaArticulos tbody th {
    padding: 1rem;
    border: 1px solid #db008d;
    background-color: white
}